<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<h2><a href="/signup">sign up</a></h2>

<br>
<h2>Go to <a href="/vip">the VIP page</a></h2>
</body>
</html>